################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/obj/Debug
/bin/Debug
/.vs
/packages/HtmlAgilityPack.1.12.3
/bin/Release
/obj/Release
/packages
